<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>137202996511-3v9fkpkpavh2er0a9qfmas1s3oql64e7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.137202996511-3v9fkpkpavh2er0a9qfmas1s3oql64e7</string>
	<key>API_KEY</key>
	<string>AIzaSyAtsyVqGRMy2HzYNuytiiptJkdmFtVRpp8</string>
	<key>GCM_SENDER_ID</key>
	<string>137202996511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pskiyatrim</string>
	<key>PROJECT_ID</key>
	<string>pskiyatriveritabani</string>
	<key>STORAGE_BUCKET</key>
	<string>pskiyatriveritabani.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137202996511:ios:632bee6aa0d368add34c2a</string>
</dict>
</plist>